<div class="form-group focus">
    <label for="inputUsernameEmail">Username or email</label>
    <input id="txtUsername" type="text" class="form-control" placeholder="" />
    <span id="username-error" class="text-danger"></span>
</div>

<div class="form-group">
    <label for="inputPassword">Password</label>
    <input id="txtPassword" type="password" class="form-control" placeholder="" />
    <span id="password-error" class="text-danger"></span>
</div>

<div class="checkbox pull-left">
    <label>
        <input type="checkbox">Forgot Password
    </label>
</div>

<button id="btnLogin" class="btn btn btn-primary pull-right" type="button">
    Log In
</button>

<div class="clear"></div>

<div class="form-group text-center">
    <span id="error-message" class="text-danger"></span>
</div>

<div class="or-box" style="display:none">
    <center><span class="text-center login-with">Login or <b>Sign Up</b></span></center>
    <div class="row">
        <div class="col-md-6 row-block">
            <a href="index.html" class="btn btn-facebook btn-block">
                <span class="entypo-facebook space-icon"></span>Facebook
            </a>
        </div>
        <div class="col-md-6 row-block">
            <a href="index.html" class="btn btn-twitter btn-block">
                <span class="entypo-twitter space-icon"></span>Twitter
            </a>

        </div>
    </div>
    <div style="margin-top:25px" class="row">
        <div class="col-md-6 row-block">
            <a href="index.html" class="btn btn-google btn-block"><span class="entypo-gplus space-icon"></span>Google +</a>
        </div>
        <div class="col-md-6 row-block">
            <a href="index.html" class="btn btn-instagram btn-block"><span class="entypo-instagrem space-icon"></span>Instagram</a>
        </div>
    </div>
</div>
<div class="clear"></div>
<hr>
<div class="row-block">
    <div class="row">
        <div class="col-md-12 row-block">
            @*<a href="index.html" class="btn btn-primary btn-block">Create New Account</a>*@
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")

<script>
    $(document).ready(function () {
        $('.focus :input').focus();
    });

    $("#btnLogin").click(function () {
        setTimeout(function () {
            proccessingWindow();
            CheckLogin();
            closeingProccessingWindow();
        }, 200);
    })

    function CheckLogin() {
        var username = $("#txtUsername");
        var password = $("#txtPassword");

        $('#username-error').html('');
        $('#password-error').html('');

        if (username[0].value == "") {
            $('#username-error').html("Please enter username");
            $("#txtUsername").focus();
            return;
        }
        else if (password[0].value == "") {
            $('#password-error').html("Please enter password");
            $("#txtPassword").focus();
            return;
        }

        $.ajax({
            url: '/Login/_Login?Username=' + username[0].value + '&Password=' + password[0].value,
            type: 'POST',
            dataType: 'html',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                proccessingWindow();
            },
            success: function (result) {
                data = JSON.parse(result);
                if (data.message == 'success') {
                    window.location.href = data.redirecturl;

                    $('#username-error').html('');
                    $('#password-error').html('');
                }
                else {
                    $('#error-message').html(data.message);
                }
            },
            complete: function (data) {
                closeingProccessingWindow();
            },
            error: function (data) {
                toastr.error("Some problem occured while login process.", "GTM");
            }
        });
    }
</script>


